body {
font-family: "Georgia", serif;
color: #484848
}

h1,h2,h3 {
margin-left: 40px
}

div.intro {
width:1040px;
margin-left: 30px;
margin-right: auto;
font-size: 18px;
}

div.members {
width:850px;
margin-left: 100px;
font-size: 18px;
}

div.project {
width:850px;
margin-left: 40px;
}


ul #navbar {
text-align: center;
}


#navbar a {border-bottom-width: 0;}
#navbar {height: 1.8em;
  margin-left: 0px;
  width:100%;
  padding: 10px 0 0 0px;
  background: #FBFAF4;
  border-top: 5px solid #488AC7;
  border-bottom: 1px solid #488AC7;
  font: 18px "Helvetica Neue",Helvetica,Arial,sans-serif; overflow: hidden;text-align: left; text-transform: uppercase; color: #000;text-decoration: none;}


#navbar li {display:inline; list-style:none; float: none; padding: 0px 25px 0px 25px;}
#navbar #home {padding-left: 40px;}
#navbar #contact {padding-right: 0;}

#navbar li a {
  text-transform: uppercase; color: #000;text-decoration: none;}

a {
  text-decoration: none;
  color: #4863A0;
}
